body{
    background-color: lightblue;
    font: normal 15pt arial;
}
h1{
    text-align: center;
}
section{
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.678);
    margin-bottom: 5px;
    padding-left: 10px;
}
footer{
    margin-top: 5px;
    font-style: italic;
    text-align: center;
}